.project {
    padding: 15px;
    padding-bottom: 10px;
    border: 1px solid #d7d7d7;
    border-radius: 10px;
    margin: 5px 0;
    overflow: hidden;
}
.project img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 7px;
}
.project .info {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
.project .info:nth-child(1) p:nth-child(2) {
    font-weight: bold;
}
.project .info:nth-child(2) p:nth-child(1) {
    margin-right: 5px;
}
.project svg {
    color: #A02279;
    font-size: 10px;
    margin-right: 5px;
}