.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 5%;
}
.navbar nav {
    display: flex;
    justify-content: space-between;
    max-width: 67%;
    align-items: center;
    flex: 1;
}
.navbar nav a {
    text-decoration: none;
    padding: 20px;
    color: inherit;
}
.navbar .cto-button {
    text-decoration: none;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    color: #fff;
    padding: 15px 25px;
    border-radius: 10px;
}
.navbar .nav-toggler {
    display: none;
    font-size: 18px;
    padding: 8px 15px;
    padding-bottom: 5px;
    border-radius: 3px;
    border: 1px solid #d7d7d7;
    background-color: #f3f0f0;
}

@media (max-width: 1050px) {
    .navbar nav {
        display: none;
        flex-wrap: wrap;
        align-items: flex-start;
        position: fixed;
        width: 0%;
        height: 100%;
        padding: 30px;
        top: 0;
        right: 0;
        background-color: #fff;
        box-shadow: 0 5px 20px rgba(153, 153, 153, 0.315);
        transition: 0.7s;
    }
    .navbar a {
        display: block;
    }
    .navbar .cto-button {
        width: 75%;
        margin: 20px;
    }
    .navbar .nav-toggler {
        display: block;
        position: relative;
        z-index: 100;
    }
    .navbar nav.active {
        display: block;
        width: 100%;
        transition: 0.7s;
    }
}

@media (max-width: 760px) {
    .navbar {
        padding: 5%;
    }
    .navbar img {
        height: 22px;
    }
}